body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: #a3a3a3;
}

#root{
    height: 80%;
    background: linear-gradient(135deg, #c7a9e9, #a1c4fd);
    padding-top: 30px;
    padding-bottom: 40px;
}

#navBar{
    height: 10%;
}

#footer{
    height: 10%;
    max-height: 20px;
}
/* ..................................................................Nav Bar......................................................................... */
.desktopNavBar {
    background: linear-gradient(to right, #f9d4da, #d7e8f9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.desktopNavBar p {
    font-weight: bold;
    margin: 0;
    font-size: x-large;
}

.desktopNavBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.desktopNavBar li {
    margin-right: 15px;
}

.desktopNavBar button {
    background: none;
    border: none;
    cursor: pointer;

}

.active{
    background-color: rgb(252, 252, 252);
    color: black;
}

.desktopNavBar button:hover {
    background-color: aliceblue;
}

.desktopNavBar a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Mobile Styles */
.mobileNavBar {
    background: linear-gradient(to right, #f9d4da, #d7e8f9);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menuToggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menuIcon {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
}

.menuIcon::before, .menuIcon::after {
    content: '';
    background-color: black;
    width: 30px;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
}

.menuIcon::before {
    top: -10px;
}

.menuIcon::after {
    top: 10px;
}

.mobileMenu {
    background-color: #333;
    color: white;
    padding: 10px;
}

.mobileMenu ul {
    list-style-type: none;
    padding: 0;
}

.mobileMenu li + li {
    margin-top: 10px;
}

.mobileMenu button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: large;
}

.mobileMenu a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.mobileMenu button:hover {
    text-decoration: underline;
}
/* ..................................................................Nav Bar End......................................................................... */

/* ..................................................................About Section......................................................................... */
.AboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: fit-content;
}

.About {
    display: flex;
    flex-direction: row; /* Stack elements vertically on small screens */
    align-items: center; /* Center-align items for a neat look */
    justify-content: space-between;
    padding: 5%; /* Adjust padding for smaller screens */
    
}

.About img {
    /* width: 80%; Scale image based on screen width */
    max-width: 400px; /* Ensure it doesn't grow too large on wider screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15%;
    margin-bottom: 20px; /* Add some space between image and text */
    box-shadow: 0 2px 5px rgba(129, 52, 52, 0.15);
}

.aboutme, .WebsiteLinks {
    text-align: center; /* Center-align text for consistency */
}

.aboutme p {
    font-size: 1.5rem; /* Adjust text size for readability */
    font-weight: bold; /* Emphasize text */
    margin:10px 0;

}

.aboutme h1, .WebsiteLinks a {
    margin: 10px 0; /* Add some vertical spacing */
}

.aboutme{
    width: 50%;
}
.WebsiteLinks {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Stack links vertically */
    justify-content: space-around; /* Space links evenly */
    font-size: 1.5rem; /* Adjust text size for readability */
}

.linkButton {
    display: inline-flex; /* Make links flex containers to align icon and text */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background: none;
    border: 1px solid transparent; /* Add border to highlight on hover */
    border-radius: 5px; /* Soften the edges */
    padding: 10px;
    margin: 5px 0; /* Add some space between links */
    width: auto; /* Allow the link to grow with content */
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.linkButton img {
    width: 24px; /* Ensure icons are not too large */
    height: 24px;
    margin-right: 10px; /* Space between icon and text */
}

@media ( max-width: 720px){
    .About{
        flex-direction: column;
    }
    .aboutme{
        width: 100%;  
    }
    .aboutme p {
        font-size: 1.2rem; 
    }
    .About img{
        width: 90%;
    }
    .WebsiteLinks{
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
    }
}

/* ..................................................................About Section End......................................................................... */

/* ..................................................................Project Section............................................................................ */

.ProjectCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
    background-color: #f9d4da;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 40%;
    height: 70%;
}

.ProjectCard img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.ProjectSection{
    display: flex;
    flex-direction: row;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.projectItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.projectItem img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

.projectItem h1 {
    font-size: 1.25em;
    color: #333;
    margin: 0;
}

.projectItem:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.hidden {
    display: none;
}
.mobileProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 3px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.mobileprojectList{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* ..........................................................Contact Me.......................................................................... */
.ContactSection {
    display: flex;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(135deg, #c7a9e9, #a1c4fd);
    padding: 50px;
    height: 100vh;
}

.ContactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2.5%;
    background-color: #d2d8d6;
    background-image: linear-gradient(315deg, #d2d8d6 0%, #dce8e0 74%);
    min-height: 60vh;
    max-height: 100vh;
}



.ContactMe h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Added some space below the header */
}

.ContactMe input, .ContactMe textarea, .ContactMe button {
    width: 90%; /* Adjusted for better fit */
    padding: 12px 20px;
    margin: 8px auto; /* Updated margin to auto for horizontal centering */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bolder;
    display: block; /* Ensure elements are block-level for margin auto to work */
}


.ContactMe button {
    background: none;
    padding: 12px 20px; /* Adjusted padding */
    border: 2px solid black; /* Added border */
    border-radius: 4px; /* Added border radius */
    cursor: pointer;
    font-size: 1.5rem; /* Adjusted font size */
    font-weight: bold;
    transition: all 0.3s; /* Added transition for hover effect */
}

.ContactMe button:hover {
    color: darkblue;
    background-color: #f0f0f0; /* Added background color on hover */
}

@media (max-width: 720px) {
    .ContactMe {
        width: 100%; /* Adjusted for better responsiveness */
        border-radius: 0px; /* Changed for consistency */
    }
    .ContactSection {
        padding:0 20px 0 20px; /* Adjusted padding for better fit */
    }
}

/* ..........................................................Contact Me End.......................................................................... */

/* ..........................................................Footer.................................................................................. */
.Footer{
    /* background: linear-gradient(135deg, #c7a9e9, #a1c4fd); */
    /* padding: 20px; */
    padding: 0 2% 0 2%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between name and links */
    align-items: center; /* Vertically align items */
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
/* .........................................................Footer End................................................................................. */

/* .........................................................Resume.................................................................................. */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.contact-info, .education {
    margin-top: 40px;
}

.contact-info h2, .education h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.education-item {
    margin-bottom: 20px;
}

.education-item h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

.education-item p {
    color: #666;
}

.technical-skills {
    margin-top: 40px;
}

.technical-skills h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.technical-skills ul {
    list-style: none;
    padding: 0;
}

.technical-skills ul li {
    margin-bottom: 10px;
}

.technical-skills ul li strong {
    font-weight: bold;
    margin-right: 5px;
}

.experience {
    margin-top: 40px;
}

.experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.experience-item {
    margin-bottom: 20px;
}

.experience-item h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.experience-item p {
    color: #666;
    margin-bottom: 5px;
}

.experience-item ul {
    list-style-type: none;
    padding-left: 0;
}

.experience-item ul li {
    margin-bottom: 5px;
}

.ResumeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c7a9e9, #a1c4fd);
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}
.container {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 720px) {
    .container {
        max-width: 93%;
    }
}

/* .........................................................Resume End................................................................................. */

/* ..........................................................Photography Section.......................................................................... */

.photoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c7a9e9, #a1c4fd);
    height: fit-content;
}

.photoSection h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.photoGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px;
}



.photoGrid img{
    width: 800px;
    height: 550px;
    border-radius: 15%;
    padding: 25px 25px;
    box-shadow: 0 2px 5px rgba(129, 52, 52, 0.15);
}

@media (max-width: 1000px){
    .photoGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .photoGrid img {
        width: 100%;
        height: auto;
        box-shadow: none;
        border-radius: 0%;
        padding: 0 0;
    }
}